extends layout

block content
	h2.page-header.text-center Poll

	if errors
		each error in errors
			.alert.alert-danger
				span= error.msg

	if poll
		p= poll
		p= votes
		.text-center
			canvas#chart
			if owner
				form(action='/poll/deletePoll' method='post' id='deletePoll')
					input(type='hidden' value=`${poll._id}` name='id')
					button.delete.btn.btn-danger(type='submit') Delete this poll

	// This is how you pass variables to client side Javascript
	script.
		var data =!{JSON.stringify(poll)};
